services:
  db:
    image: postgres:17
    container_name: "thoth_db"
    ports:
      - "5432:5432"
    volumes:
      - ./db/_data:/var/lib/postgresql/data
    env_file:
      - .env

  zitadel-db:
    image: postgres:17
    container_name: "zitadel_db"
    volumes:
      - ./db/_zitadel:/var/lib/postgresql/data
    environment:
      POSTGRES_PASSWORD: postgres

  redis:
    image: redis:alpine
    container_name: "thoth_redis"
    ports:
      - "6379:6379"

  graphql-api:
    build:
      context: .
      dockerfile: Dockerfile.dev
    container_name: "thoth_graphql_api"
    ports:
      - "8000:8000"
    command: ["cargo", "run", "init"]
    env_file:
      - .env
    depends_on:
      - db
      - zitadel

  export-api:
    build:
      context: .
      dockerfile: Dockerfile.dev
    container_name: "thoth_export_api"
    ports:
      - "8181:8181"
    command: ["cargo", "run", "start", "export-api"]
    env_file:
      - .env
    depends_on:
      - graphql-api

  zitadel:
    image: 'ghcr.io/zitadel/zitadel:v3.2.2'
    command: 'start-from-init --masterkey "${ZITADEL_MASTERKEY}" --tlsMode disabled'
    container_name: "zitadel"
    ports:
      - "8282:8080"
    env_file:
      - .env
    volumes:
      - ./machinekey:/machinekey
    depends_on:
      - zitadel-db
