version: "3.5"

services:
  db:
    image: postgres:12
    container_name: "thoth_db"
    restart: unless-stopped
    volumes:
      - db:/var/lib/postgresql/data
      - /etc/localtime:/etc/localtime:ro
    env_file:
      - .env

  redis:
    image: redis:alpine
    container_name: "thoth_redis"
    restart: unless-stopped

  graphql-api:
    image: openbookpublishers/thoth
    container_name: "thoth_graphql_api"
    restart: unless-stopped
    env_file:
      - .env
    depends_on:
      - db

  export-api:
    image: openbookpublishers/thoth
    container_name: "thoth_export_api"
    restart: unless-stopped
    command: ["start", "export-api"]
    env_file:
      - .env
    depends_on:
      - graphql-api

  app:
    image: openbookpublishers/thoth
    container_name: "thoth_app"
    restart: unless-stopped
    command: ["start", "app"]
    env_file:
      - .env
    depends_on:
      - graphql-api
      - export-api

volumes:
  db:
