version: "3.5"

services:
  db:
    image: postgres:12
    container_name: "thoth_db"
    ports:
      - "5432:5432"
    volumes:
      - ./db/_data:/var/lib/postgresql/data
    env_file:
      - .env

  redis:
    image: redis:alpine
    container_name: "thoth_redis"
    ports:
      - "6379:6379"

  graphql-api:
    build:
      context: .
      dockerfile: Dockerfile.dev
    container_name: "thoth_graphql_api"
    ports:
      - "8000:8000"
    command: ["cargo", "run", "init"]
    env_file:
      - .env
    depends_on:
      - db

  export-api:
    build:
      context: .
      dockerfile: Dockerfile.dev
    container_name: "thoth_export_api"
    ports:
      - "8181:8181"
    command: ["cargo", "run", "start", "export-api"]
    env_file:
      - .env
    depends_on:
      - graphql-api

  app:
    build:
      context: .
      dockerfile: Dockerfile.dev
    container_name: "thoth_app"
    ports:
      - "8080:8080"
    command: ["cargo", "run", "start", "app"]
    env_file:
      - .env
    depends_on:
      - graphql-api
      - export-api
