services:
  db:
    image: postgres:17
    container_name: "thoth_db"
    ports:
      - "5432:5432"
    volumes:
      - ./db/_data:/var/lib/postgresql/data
    env_file:
      - .env

  redis:
    image: redis:alpine
    container_name: "thoth_redis"
    ports:
      - "6379:6379"
