[package]
name = "thoth-api"
version = "0.13.4"
authors = ["Javier Arias <javi@thoth.pub>", "Ross Higman <ross@thoth.pub>"]
edition = "2021"
license = "Apache-2.0"
description = "GraphQL API for bibliographic data"
repository = "https://github.com/thoth-pub/thoth"
readme = "README.md"

[badges]
maintenance = { status = "actively-developed" }

[features]
backend = ["diesel", "diesel-derive-enum", "diesel_migrations", "futures", "actix-web", "jsonwebtoken", "deadpool-redis"]

[dependencies]
thoth-errors = { version = "=0.13.4", path = "../thoth-errors" }
actix-web = { version = "4.9", optional = true }
argon2rs = "0.2.5"
isbn2 = "0.4.0"
chrono = { version = "0.4.38", features = ["serde"] }
deadpool-redis = { version = "0.18.0", optional = true }
diesel = { version = "2.2.5", features = ["postgres", "uuid", "chrono", "r2d2", "64-column-tables", "serde_json"], optional = true }
diesel-derive-enum = { version = "2.1.0", features = ["postgres"], optional = true }
diesel-derive-newtype = "2.1.2"
diesel_migrations = { version = "2.2.0", features = ["postgres"], optional = true }
dotenv = "0.15.0"
futures = { version  = "0.3.31", optional = true }
jsonwebtoken = { version = "9.3.0", optional = true }
juniper = { version = "0.16.1", features = ["chrono", "schema-language", "uuid"] }
lazy_static = "1.5.0"
phf = { version = "0.11", features = ["macros"] }
rand = "0.8.5"
regex = "1.10.6"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
strum = { version = "0.26.3", features = ["derive"] }
uuid = { version = "1.11.0", features = ["serde", "v4"] }

[dev-dependencies]
tokio = { version = "1.41", features = ["macros"] }
